h2 {
  font-size: 28px;
}

h3, h4, h5, h6 {
  font-size: 18px;
}

.doc-class{
  /*top right bottom left*/
  padding: 30px 0px 0px 0px;
  border-top:1px solid rgb(217, 217, 217);
}

.doc-function{
  /*top right bottom left*/
  padding: 30px 0px 0px 0px;
  border-top:1px dashed rgb(230, 230, 230);  
}

code{
  color: #F28360;
}

.doc-label-property code{
  color: #5088C5;
}

.wy-side-nav-search{
  background-color: #5088C5;
}

.autorefs-internal a{
  color: #000000;
  text-decoration: 'underscore';
}

